node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
README.md
.env
.env.local
.env.oauth
.env.development
.env.production
.nyc_output
coverage
.nyc_output
.coverage
.coverage/
dist
.DS_Store
*.log